body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    color: #fff;
    background-color: black;
    padding: 0;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* max-width: 1200px; */
    width: 100%;
    /* padding: 0 50px; */
    margin: 0 auto;
    background-color: #fff;
}

.second-header-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    font-size: 18px;
    background-color: #3FB7FB;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 100px; 
    /* margin-right: 10px; */
}

.nav-links-upper {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    align-items: center;
   
}

.nav-links-upper i{
    font-size: 50px;
    margin-right: 20px;
}


.nav-links-upper li {
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;

}



.nav-links-upper a {
    text-decoration: none !important;
    color: black;
    display: flex;
    align-items: center;
    
}

.nav-links-lower {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* gap: 30px; */
    align-items: center;
    
   
}

.nav-links-lower li {
    margin-right: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;

}

.nav-links-lower a {
    /* text-decoration: none; */
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none !important;

    
}


.nav-links i {
    margin-right: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}


.banner{
    background-image: url(assets/banner.png);
    background-size: cover;
}

.banner-content{
    color: #fff;
    padding: 60px 60px;
}

.banner-content p{
    font-size: 20px;
}

.banner-content p span{
    color: red;
}

.banner-content h1{
    font-size: 50px;
    font-weight: 700;
}

.banner-content h5{
    padding: 10px 0;
    line-height: 30px;
}

.banner-content button{
    padding: 10px  40px;
    font-size: 20px;
    background-color: #3FB7FB;
    color: #fff;
    transition: none !important;
}

.third-header-row{
    display: flex;
    justify-content:flex-start;
    width: 100%;
    /* padding: 10px 0; */
    font-size: 18px;
    background-color: #fff;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;

    
}

.nav-links-third-lower {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 25px 70px;
    gap: 25px;
    font-size: 20px;
    font-weight: 500;
    
    /* align-items: center; */
    /* color: #000 !important; */
    
   
}

.nav-links-third-lower a {
    text-decoration: none !important;
    color: black;
    display: flex;
    font-weight: 600;
    align-items:flex-start;
    
}

.content-padding{
    padding: 0 65px;
}

.first-overview-column{
    padding: 20px 0 50px 0;
}

.first-overview-column h2{
    font-size: 35px;
    padding: 30px 0;
    text-align: left;
}


.first-overview-column p, li{
    font-size: 18px;
    padding-right: 30px;
    color: #5C5965;
    font-weight: 400;
}

.second-overview-column{
    padding: 70px;
}

.dotted-row{
    border-bottom: 2px dotted #3FB7FB;
    
}

.eligibility-for-treatment li{
    list-style-type: circle;
}




.form-field{
    margin: 80px 30px;
    /* overflow-y: visible; */
    position: absolute;
    
    
}

form {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
}

#formContainer {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 20px; 
}


h2 {
    text-align: center;
    color: #333;
}



input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 !important;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}



input:focus, textarea:focus {
    border-color: #4CAF50;
}

form button {
    background-color: #3FB7FB;
    color: white;
    padding: 12px 20px;
    border: none;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: 16px; */
    transition: background-color 0.3s;
    font-size: 18px;
}

form button:hover {
    background-color: #014166;
}

form h2 {
    color: #0681c9;
    text-align: left;
    font-style: italic;
}

.error-message {
    color: #FF0000;
    font-size: 14px;
}

.accordion-toggle::before {
    content: '\f068' ;
    display: inline-block;
    margin-right: 6px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 14px;
  }

  .accordion-toggle.collapsed::before {
    content: '\f067'; 
  }

.accordion-toggle {
    transition: none; 
    text-decoration: none;

}

.card {
    border: none;
    background-color: transparent;
    margin-bottom: 5px;
  }

  .card-header {
    background-color: #f8f9fa;
    border: none;
  }


/* loader */

.page-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 252, 252);
    z-index: 999;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #0681c9;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


